<div class="col-md-6 col-md-offset-4"><h2 style="margin-top:0" class="featurette-heading">Nuestros programas</h2></div>

<div class="container">
	<div class="col-md-12">
	<div id="owl-demo" class="owl-carousel owl-theme">
      <div class="item">
      	<div class="thumbnail">
	      <img src="https://scontent-a-lax.xx.fbcdn.net/hphotos-ash3/t1/1240064_563159833719846_740059169_n.jpg" alt="...">
	      <div class="caption">
	        <h3>Reforzamiento académico</h3>
	        <p>Es un programa continuo de ayuda académica donde se les otorgan a los niños indígenas las herramientas necesarias para su aprendizaje.</p>
	        <p><a href="http://fundacionorigen.herokuapp.com/proyects/escuela-del-sol" class="btn btn-primary" role="button">Mas información</a></p>
  		  </div>
		</div>
      </div>		
	  <div class="item">
	  	<div class="thumbnail">
	      <img src="https://scontent-b-lax.xx.fbcdn.net/hphotos-prn2/t1/1234814_563161867052976_907009727_n.jpg" alt="escuela del sol fundacion origen naku a.c.">
	      <div class="caption">
	        <h3>Programa de nutrición</h3>
	        <p>Organizamos una comida que sea nutricionalmente buena para los niños y compartirla con todos los niños de la Fundación.</p>
	        <p><a href="http://fundacionorigen.herokuapp.com/proyects/comedor-infantil" class="btn btn-primary" role="button">Mas información</a></p>
  		  </div>
		</div>
	  </div>
	  <div class="item">
	  	<div class="thumbnail">
	      <img src="/assets/jornadas_solidarias.jpg" alt="jornadas solidarias fundacion origen naku a.c.">
	      <div class="caption">
	        <h3>Jornadas solidarias</h3>
	        <p>Este programa está abierto a todo aquel que desee integrarse a los programas sociales que ofrece la organización. Son jornadas cortas, de tres a cinco días y se realizan a lo largo del año.</p>
	        <p><a href="http://fundacionorigen.herokuapp.com/proyects/jornadas-solidarias" class="btn btn-primary" role="button">Mas información</a></p>
  		  </div>
		</div>
	  </div>
	  <div class="item">
		<div class="thumbnail">
	      <img src="https://scontent-b-lax.xx.fbcdn.net/hphotos-frc1/t1/1653903_627752833927212_1830450958_n.jpg" alt="programa de apadrinamiento Monserrat de Carlos">
	      <div class="caption">
	        <h3>Apadrinamientos</h3>
	        <p>A través de este programa cualquier persona puede apadrinar a un niño, apoyándolo económicamente con una aportación mensual, la cual contribuye a satisfacer necesidades escolares y de salud.</p>
	        <p><a href="http://fundacionorigen.herokuapp.com/proyects/programa-de-apadrinamiento" class="btn btn-primary" role="button">Mas información</a></p>
			  </div>
		</div>
	  </div>
	  <div class="item">
	  	<div class="thumbnail">
	      <img src="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-frc1/t1.0-9/p417x417/575360_517949901574173_1520204885_n.jpg" alt="dia del niño 30 de abril">
	      <div class="caption">
	        <h3>Dia del niño</h3>
	        <p>Durante todo el año reunimos juguetes y dulces en buen estado, para niños y niñas y nosotros se los hacemos llegar en este día tan especial.</p>
	        <p><a href="http://fundacionorigen.herokuapp.com/proyects/dia-del-nino" class="btn btn-primary" role="button">Mas información</a></p>
  		  </div>
    	</div>
	  </div>
	  <div class="item">
	  	<div class="thumbnail">
	      <%= image_tag("mujeres_emprendedoras1.jpg", alt: "mujeres emprendedoras manos hermanas") %>
	      <div class="caption">
	        <h3>Manos hermanas</h3>
	        <p>
			Las mujeres que tienen más habilidades para realizar artesanías utilizan su experiencia para desarrollar productos nuevos que les permite obtener más recursos económicos, para cubrir las necesidades del hogar.</p>
	        <p><a href="http://fundacionorigen.herokuapp.com/proyects/manos-hermanas" class="btn btn-primary" role="button">Mas información</a></p>
  		  </div>
		</div>
	  </div>
	  <div class="item">
	  	<div class="thumbnail">
	      <%= image_tag("navidad_todos4.jpg", alt: "una navidad para todos fundacionorigen") %>
	      <div class="caption">
	        <h3>Una navidad para todos</h3>
	        <p>
			Las fiestas Navideñas en México, se caracterizan por ser momentos de unión y generosidad, nuestro objetivo es ofrecer una cena navideña que llene de calidez, felicidad y esperanza a todas las familias indígenas que forman parte de Fundación Origen Nakú A.C.</p>
	        <p><a href="hhttp://fundacionorigen.herokuapp.com/proyects/una-navidad-para-todos" class="btn btn-primary" role="button">Mas información</a></p>
  		  </div>
		</div>
	  </div>
	</div>
</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
 
	  $("#owl-demo").owlCarousel({	 
	      items : 4,
	      itemsDesktop : [1500,3],
	      itemsDesktopSmall : [979,3],
	      itemsTablet: [600,2],
	      navigation : true,
	      autoPlay: 6000
	  });
 
	});
	
</script>