<div class="col-md-6 col-md-offset-4"><h2 style="margin-top:0" class="featurette-heading">Nuestros programas</h2></div>

<div class="container">
	<div class="col-md-12">
	<div id="owl-demo" class="owl-carousel owl-theme">
      <div class="item">
      	<div class="thumbnail">
	      <img src="https://scontent-a-lax.xx.fbcdn.net/hphotos-ash3/t1/1240064_563159833719846_740059169_n.jpg" alt="...">
	      <div class="caption">
	        <h3>Reforzamiento académico: "Escuela del sol"</h3>
	        <p>Es un programa continuo de ayuda académica donde se les otorgan a los niños indígenas las herramientas necesarias para su aprendizaje.</p>
	        <p><a href="#" class="btn btn-primary" role="button">Mas información</a></p>
  		  </div>
		</div>
      </div>		
	  <div class="item">
	  	<div class="thumbnail">
	      <img src="https://scontent-b-lax.xx.fbcdn.net/hphotos-prn2/t1/1234814_563161867052976_907009727_n.jpg" alt="escuela del sol fundacion origen naku a.c.">
	      <div class="caption">
	        <h3>Programa de nutrición: "Comedor infantil"</h3>
	        <p>Organizamos una comida (cada mes) que sea nutricionalmente buena para los niños y compartirla con todos los niños de la Fundación.</p>
	        <p><a href="#" class="btn btn-primary" role="button">Mas información</a></p>
  		  </div>
		</div>
	  </div>
	  <div class="item">
	  	<div class="thumbnail">
	      <img src="/assets/jornadas_solidarias.jpg" alt="jornadas solidarias fundacion origen naku a.c.">
	      <div class="caption">
	        <h3>Jornadas solidarias</h3>
	        <p>Este programa está abierto a todo aquel que desee integrarse a los programas sociales que ofrece la organización. Son jornadas cortas, de tres a cinco días y se realizan a lo largo del año.</p>
	        <p><a href="#" class="btn btn-primary" role="button">Mas información</a></p>
  		  </div>
		</div>
	  </div>
	  <div class="item">
		<div class="thumbnail">
	      <img src="https://scontent-b-lax.xx.fbcdn.net/hphotos-frc1/t1/1653903_627752833927212_1830450958_n.jpg" alt="...">
	      <div class="caption">
	        <h3>Apadrinamientos: "Monserrat de Carlos"</h3>
	        <p>A través de este programa cualquier persona puede apadrinar a un niño, apoyándolo económicamente con una aportación mensual, la cual contribuye a satisfacer necesidades escolares y de salud.</p>
	        <p><a href="#" class="btn btn-primary" role="button">Mas información</a></p>
			  </div>
		</div>
	  </div>
	  <div class="item">
	  	<div class="thumbnail">
	      <img src="https://scontent-b-lax.xx.fbcdn.net/hphotos-frc3/t1/1237893_563159967053166_1458191771_n.jpg" alt="...">
	      <div class="caption">
	        <h3>Promoción cultural: "Tepeyolotl"</h3>
	        <p>La tarea de la fundación consiste en prestar especial atención a los aspectos culturales de las comunidades Náhuatls.</p>
	        <p><a href="#" class="btn btn-primary" role="button">Mas información</a></p>
  		  </div>
    	</div>
	  </div>
	  <div class="item">
	  	<div class="thumbnail">
	      <img src="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-prn1/t1/75953_627753800593782_1051240886_n.jpg" alt="...">
	      <div class="caption">
	        <h3>Servicio social profesional</h3>
	        <p>-----</p>
	        <p><a href="#" class="btn btn-primary" role="button">Mas información</a></p>
  		  </div>
		</div>
	  </div>
	</div>
</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
 
	  $("#owl-demo").owlCarousel({	 
	      items : 4,
	      itemsDesktop : [1500,3],
	      itemsDesktopSmall : [979,3],
	      itemsTablet: [600,2],
	      navigation : true,
	      autoPlay: 6000
	  });
 
	});
	
</script>