<div class="row">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
	      <!-- Indicators -->
	      <div class="carousel-inner">
	        <div class="item active">
	          <img src="https://scontent-a-dfw.xx.fbcdn.net/hphotos-ash3/t1/563499_568078776561285_408387919_n.jpg">
	          <div class="container">
	            <div class="carousel-caption">
	              <h1>¡La Fundación Origen Naku te espera!</h1>
	              <p>Contribuímos al <strong>desarrollo Integral</strong> de personas y comunidades índigenas que se encuentran en situaciones de pobreza extrema, marginación o emergencia.
	              </p>
	              <p><a class="btn btn-lg btn-primary" href="#" role="button">Conócenos</a></p>
	            </div>
	          </div>
	        </div>
	       <div class="item">
	          <img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-frc3/t1/394349_428910087144822_1846267991_n.jpg">
	          <div class="container">
	            <div class="carousel-caption">
	              <h1>Voluntariado y servicio social comunitario </h1>
	              <p>Realiza con nosotros tu servicio social comunitario, únete
	              	a nuestro grupo de voluntarios.</p>
	              <p><a class="btn btn-lg btn-primary" href="#" role="button">Inscríbete</a></p>
	            </div>
	          </div>
	        </div>
	        <div class="item">
	          <img src="https://scontent-b-dfw.xx.fbcdn.net/hphotos-ash3/t1/598798_439723872730110_502512346_n.jpg">
	          <div class="container">
	            <div class="carousel-caption">
	              <h1>Programa de apadrinamiento</h1>
	              <p>Ayuda a uno de los niños de la fundación.</p>
	              <p><a class="btn btn-lg btn-primary" href="#" role="button">¿Cómo ayudar?</a></p>
	            </div>
	          </div>
	        </div>
	      </div>
	      <div id="goDown">
  			<a href="#item1" <span class="arrowDown">‹</span></a>
		  </div>
	      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
	      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
	    </div>
</div>
<div class="container">
	<div class="col-md-8">
		<div class="row">
			<div id="item1" class="col-md-5">
			  <img class="featurette-image img-responsive" src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-ash3/t1/68439_622165081152654_1890899317_n.jpg">
			</div>
			<div class="col-md-7">
			  <h2>Misión</h2>
			  <p class="lead">
			  	Contribuir al desarrollo integral de personas y comunidades
			  	indígenas que viven en marginación, pobreza o vulnerabilidad con
			  	el fin de mejorar su calidad de vida.
			  </p>
			</div>
			<div class="col-md-12">
				<hr>
			</div>
			<div class="col-md-5">
	          <img class="featurette-image img-responsive" src="https://scontent-b-lax.xx.fbcdn.net/hphotos-prn2/l/t1/1238928_563160367053126_1448824476_n.jpg">
	        </div>
	        <div class="col-md-7">
	          <h2>Visión</h2>
	          <p class="lead">Ser reconocida por la calidad y humanismo en los
	          	programas que se implementan logrando trascender en todos los 
	          	sectores sociales a traves de la mejora continua.</p>
	        </div>
	    </div>
    </div>
    <div class="col-md-4">
		<div class="fb-like-box" data-href="https://www.facebook.com/FundacionOrigenNaku?fref=ts" data-width="350" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="true" data-show-border="true"></div>
	</div>
</div>
<hr class="featurette-divider">
<%= render partial: 'proyect_carousel' %>

<!-- <div class="row"><%= image_tag('tweeter.png') %></div> -->
<div id="fb-root"></div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=435742566528809";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>
    $('.arrowDown').click(function(e){
        $('html,body').scrollTo(this.hash, this.hash);
        e.preventDefault();
    });

    // not really needed
    $(window).resize(function(){
        $('.page').css({
            fontSize: Math.max(Math.min($(window).outerWidth() / (1 * 6), parseFloat(Number.POSITIVE_INFINITY)), parseFloat(Number.NEGATIVE_INFINITY)) + 'px',
            lineHeight: $(window).height() + 'px'
        });
    }).resize();
</script>