<div style="background-image: url('/assets/back_tierra_gloria.jpg');" class="row">
	<div class="container">
		<h1 style="margin-top:5%; color:white" class="featurette-heading">Misión Tierra de Gloria, Puebla</h1>
		<p style="color:white" class="lead">Comunidad rural</p>
	</div>
</div>

<div class="row">
	<div class="container">
		<div class="col-md-7">
			<br>
			<p style="text-align:justify" class="lead">
				<strong>San Agustín Ahuehuetla</strong>, es una comunidad rural a las afueras de la ciudad de Puebla, sus habitantes son en su mayoría pastores y productores de artesanías en palma.<br>
				San Agustín Ahuehuetla es una localidad perteneciente al municipio de Huehuetlán el Grande, en el estado de <strong>Puebla</strong>. Está situada a 1.560 metros de altitud sobre el nivel del Mar.<br>
				Tiene 553 habitantes. 275 (49.73%) son hombres y 278 (50.27%) son mujeres, de la 50% de la población es  mayor de 18 años.  
			</p>
			<div class="list-group">
			  <a href="#" class="list-group-item list-group-item-success">
			    Programas que desarrollamos
			  </a>
			  <a href="#" class="list-group-item">Escuela del sol</a>
			  <a href="#" class="list-group-item">Comedor infantil</a>
			  <a href="#" class="list-group-item">Jornadas solidarias</a>
			  <a href="#" class="list-group-item">Manos hermanas</a>
			</div>
		</div>
		<div clas="col-md-5">
		</div>
	</div>
</div>