<div style="background-image: url('/assets/back_servicio_social.jpg');" class="row">
  <div class="container">
    <h1 style="margin-top:5%; color:white" class="featurette-heading">Servicio social y voluntariado</h1>
    <p style="color:white" class="lead">Durante el periodo escolar o en verano.
    </p>
  </div>
</div>
<div class="container">
  <div class="col-md-12">
    <h2>Universitarios</h2><br>
    <p style="text-align:justify" class="lead">
      En México, todos los universitarios realizan un Servicio Social a la comunidad como parte de su formación profesional. Para cumplir con este programa cada estudiante debe liberar 480 horas de trabajo comunitario en la organización de su preferencia y que esté avalada por la univeridad.
      <br>
    El Servicio Social en México es una iniciativa que pretende crear conciencia a los universitarios de la diferencias sociales que existen en nuestro país y de esta manera,  contribuír a la transformación de ideas y pensamientos en jóvenes que están en pleno desarrollo de su potencial profesional.
    <br>La propuesta del Servicio Social que nuestra Organización ofrece a las distintas Universidades en México, y a los estudiantes, se basa en la creación de un espacio donde a través del aprendizaje y práctica profesional se transforme de manera concreta un problema, o se desarrolle una iniciativa que promueva la mejora de alguna situación en un contexto ajeno a su cotidianidad, redimensionando sus propios enfoques sobre su actuar profesional.
    <br>Ya que la asociación tiene por objeto apoyar a personas y comunidades que se encuentran en situaciones de pobreza, marginación o emergencia, a través de proyectos y procesos educativos, participativos, incluyentes, sustentables y todos aquellos que de manera solidaria y subsidiaria favorezcan su desarrollo integral, respetando siempre las prácticas sociales, usos, fiestas y costumbres de los pueblos, abrimos nuestras puertas a todos los estudiantes que deseen realizar su Servicio Social.
    </p>
    <hr>
    <%= render partial: 'static_pages/feedback' %>
  </div>
</div>
