<div style="background-image: url('/assets/back_servicio_social.jpg');" class="row">
  <div class="container">
    <h1 style="margin-top:5%; color:white" class="featurette-heading">Servicio social y voluntariado</h1>
    <p style="color:white" class="lead">Durante el periodo escolar o en verano.
    </p>
  </div>
</div>
<div class="container">
  <div class="col-md-12">
    <h2>Voluntaríado</h2><br>
    <p style="text-align:justify" class="lead">
    El voluntariado, es la clave que permite explicar nuestro crecimiento y consolidación. Es la mejor Cooperación al desarrollo.
    <br>
    Nuestros logros se han visto beneficiados con la ayuda humana y económica de jóvenes que  han prestado servicio a la organización, a través de universidades,  asociaciones dedicadas intercambio internacional, y a sitios web donde los jóvenes extranjeros apoyados por su gobierno tienen la posibilidad de buscar  nuevas experiencias donde puedan ampliar sus horizontes, estos son los lazos que permiten la cooperación.
    <br>
    Estas alianzas han permitido mejorar los procesos dentro de la organización con las propuestas que se han recibido por parte de los jóvenes. También han permitido ampliar los horizontes de la misma, conociendo a  otras asociaciones con objetivos similares.
    <br>
    De los convenios que se han realizado se ha  aprendido a ponderar las necesidades e intereses de la organización, pues a pesar de que han sido de gran ayuda, en muchas ocasiones las instituciones que apoyan lo hacen con fines meramente políticos que obstruyen los fines reales, y muchas veces dan paso a inconformidades, por esta razón ha sido necesario ser muy específicos en las características de nuestras propuestas y certeros en  la realidad de las acciones que realiza  la organización. 
    </p>
    <hr>
    <%= render partial: 'static_pages/feedback' %>
  </div>
</div>
