<div style="background-image: url('/assets/back_servicio_social.jpg');" class="row">
  <div class="container">
    <h1 style="margin-top:5%; color:white" class="featurette-heading">Servicio social y voluntariado</h1>
    <p style="color:white" class="lead">Durante el periodo escolar o en verano.
    </p>
  </div>
</div>
<div class="container">
  <div class="col-md-12">
    <h2>Voluntaríado</h2><br>
    <p style="text-align:justify" class="lead">
      Para Fundación Origen Nakú A.C. el voluntariado ha sido un aliado indiscutible desde su formación, ya que han sido jóvenes y adultos tanto de México como de otras partes del mundo, quienes se han sumado a la labor de la organización. Promoviendo y formando parte de los proyectos que la organización plantea. Son quienes además han corrido la voz ante instituciones en el extranjero que han tendido sus manos, pactando alianzas de promoción y reconocimiento ante otros organismos.<br>

      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#home" data-toggle="tab">Fundamentos</a></li>
        <li><a href="#profile" data-toggle="tab">Tipos de voluntariado</a></li>
        <li><a href="#messages" data-toggle="tab">Proceso de admisión</a></li>
        <li><a href="#settings" data-toggle="tab">¿Qué ofrece la organización?</a></li>
        <li><a href="#perfil" data-toggle="tab">Perfil del voluntario</a></li>
      </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="home">
        <br>
         <p class="lead"><strong>La idea de voluntariado que ofrece la organización se basa en los siguientes fundamentos:</strong><br>
        </p>
        <ul>
          <li class="lead">El voluntario debe disfrutar ayudando a los demás, recordando siempre que la excelencia en la calidad son demandas necesita para cualquier obra que se realice.
          </li>
          <li class="lead">El voluntario debe colaborar en la elaboración de proyectos, así como en su diseño, ejecución y evaluación, desde sus habilidades y aptitudes.
          </li>
          <li class="lead">Ser voluntario tiene que producir beneficios para todos los que se vean involucrados en el proyecto.
          </li>
          <li class="lead">El voluntario debe compartir sus ideas con el equipo de trabajo para crear un ambiente inclusivo.
          </li>
          <li class="lead">No se permite crear falsas expectativas en la organización, si el voluntario no se siente a gusto es importante que lo transmita a los responsables para hacer las modificaciones necesarias y pueda cumplir el compromiso que adquirió.
          </li>
          <li class="lead">La cooperación y vinculación con instituciones internacionales, es básica para que los voluntarios interesados en  formar parte de esta labor puedan obtener los recursos necesarios, en caso de no contar con fondos económicos para dicha causa.
          </li>
          <li class="lead">Ser voluntario constituye una valiosa y divertida experiencia, llena de aprendizajes, espirituales y profesionales.
          </li>
        </ul>
      </div>
        <div class="tab-pane" id="profile">
        <p class="lead">
          <br>
          <strong>La asociación ofrece  dos tipos de voluntariado:</strong>
        </p>
        <ul>
          <li class="lead">
            Voluntariado  en la sede:<br>
            Este tipo de voluntariado invita  a todas aquellas personas que viven en la ciudad de Puebla y en sus alrededores a participar como voluntarios ocasionales en las tareas y procesos administrativos de la organización. El voluntario se hermana con todos los aspectos que acontecen en el  del día a día tales como: calendarización de actividades, previsión de eventos para recaudar fondos,  apoyo en la coordinación de las jornadas de trabajo que se programan en las comunidades, así como visitas puntuales a dichas zonas, aportando de esta manera sus conocimientos y tiempo, sin la necesidad de salir de su lugar de residencia.
          </li>
          <li class="lead">
            Voluntariado en la comunidad:<br>
            Este tipo de voluntariado está dirigido a todo aquel que desee vivir una experiencia de inserción en las comunidades indígenas de México.Se trata de crear un espacio que promueva la interculturalidad, a través del intercambio de conocimientos, que enriquezcan los proyectos de la organización, permitiendo que se genere la revalorización de los aspectos culturales de los náhuatls, al mismo tiempo que ellos reciban acompañamiento  en la ejecución de actividades, logrando las metas que se ha propuesto la organización.<br>
            El voluntariado de inserción, ha sido más atractivo para los voluntarios extranjeros, quienes se han puesto en contacto con la asociación, a través de las redes sociales.<br>
            Los tiempos de estancia que se han determinado para este servicio son: <br>
            <ul>
              <li class="lead">3 meses</li>
              <li class="lead">6 meses</li>
              <li class="lead">1 año, en este caso es necesario tramitar, a través dela Secretaría de Relaciones Exteriores los permisos necesarios para que el voluntario pueda permanecer en el país por este tiempo.
              </li> 
            </ul>
          </li>
        </ul>
        </div>
        <div class="tab-pane" id="messages">
          <br>
          <p class="lead">El proceso que  se sigue por parte de los  responsables de la asociación para  aceptar a los voluntarios, se compone de las siguientes fases:</p>
        <ul>
          <li class="lead">Se hacer contacto vía correo electrónico.</li>
          <li class="lead">Se gestiona una entrevista vía skype  o personal y se pide al voluntario llene la ficha de inscripción.
          </li>
          <li class="lead">Se le hace un acercamiento verbal sobre las actividades de la asociación y de  las condiciones en que se realizan.
          </li>
          <li class="lead">Se muestra el protocolo y las normas  de convivencia.</li>
          <li class="lead">Se pide al voluntario una carta de motivación y una carta de recomendación.</li>
          <li class="lead">Se entrega al voluntario un programa de labores de acuerdo a sus habilidades, anhelos y aptitudes.</li>
          <li class="lead">Se firma un convenio en donde ambas partes están de acuerdo con lo establecido.</li>
        </ul>
        </div>
        <div class="tab-pane" id="settings">
          <ul>
            <br>
            <li class="lead">
              Alojamiento: la organización cuenta con un  alojamiento tanto en la ciudad de Puebla, como en las comunidades de la Sierra Norte del Estado de Puebla.
            </li>
            <li class="lead">
               Alimentación: La organización proveede la despensa básica a los voluntarios que viven en counidad para realizar sus comidas básicas, al mismo tiempo las familias de las comunidad  colaboraran invitando a los voluntarios a compartir con ellos los alimentos algunos días de la semana.
            </li>
            <li class="lead">
              Inserción en la comunidad: Previo a la instalación del voluntario en la comunidad se hace una visita acompañado del equipo responsable, para presentar al voluntario ante la comunidad, así como lograr un primer acercamiento con el comité de mujeres indígenas, que son el apoyo directo de la organización en la comunidad.
            </li>
            <li class="lead">
              Coste transportes:La transportación del voluntario desde su lugar de origen hasta  México y viceversa corre por su cuenta, así como los transportes que utilizará para ir de la ciudad de Puebla a la comunidad, y de la comunidad a la ciudad de  Puebla. 
            </li>
            <li class="lead">
              Seguro de gastos médicos: Es de carácter obligatorio traer un seguro que cubra sus gastos médicos antes de empezar su periodo de voluntariado.
            </li>
        </div>
        <div class="tab-pane" id="perfil">
          <br>
          <p class="lead">
            El voluntario que acude a Fundación Origen Nakú A.C., por lo general presenta un perfil con características muy definidas, suelen ser personas impulsadas por la necesidad de conocer nuevos mundos, de compartir tradiciones, magia y sincretismo religioso, a partir de la admiración del ser y de las culturas que han permanecido pese a la globalización. Además de estas motivaciones se ha cuadro que define las actitudes, aptitudes, compromisos y deberes que el  voluntario debe considerar.
          </p>
      </div>
    </div>
    </p>
  </div>
</div>
<hr>
<%= render partial: 'static_pages/feedback' %>

<script>
  $(function () {
    $('#myTab a:first').tab('show')
  })
</script>