<div style="background-image: url('/assets/back_xaltipan.jpg');" class="row">
	<div class="container">
		<h1 style="margin-top:5%; color:white" class="featurette-heading">Xaltipan y Tonalix, Puebla</h1>
		<p style="color:white" class="lead">Comunidades indígenas</p>
	</div>
</div>
<div class="row">
	<div class="container">
		<div class="col-md-7">
			<br>
			<p style="text-align:justify" class="lead">
				<strong>Xaltipan y Tonalix</strong> son  comunidades indígenas que  han mantenido sus tradiciones y aunque han sido influenciadas con los cambios que acontecen a la sociedad actual, mantienen una cosmovisión  rica en costumbres, la cual las dota de identidad  y las hacer ser reconocidas ante otros pueblos. <br>
				Estos sitios  ofrecen belleza por doquier; sus fascinantes aromas: producto de los cultivos de vainilla, pimienta y café; los paisajes naturales como  las montañas con vegetación tropical de innumerables tonalidades de verde; el placer visual de las cascadas y ríos, nos invitan a admirar el espacio en cada paso.<br>
				Estas dos poblaciones se encuentran a  460 m. sobre el nivel del mar, por lo tanto tienen un clima húmedo y muy caluroso la mayor parte del año, con sus excepciones en invierno.<br>
				La población total de Xaltipan es de 637 personas, de cuales 315 son masculinos y 322 femeninas.<br>
				Tonalix mientras tanto, tiene 163 habitantes. 80 (49.08%) son hombres y 83 (50.92%) son mujeres, la población mayor de 18 años es de 88, para alojar a sus habitantes Tonalix cuenta con 20 viviendas.<br>
				Estas comunidades se decican a la siembra de productos para autoconsumo como maíz, frijol, mango, mamey, chinina, pimienta, canela y en ocasiones producen panela.
			</p>
			<div class="list-group">
			  <a href="#" class="list-group-item list-group-item-success">
			    Programas que desarrollamos
			  </a>
			  <a href="#" class="list-group-item">Escuela del sol</a>
			  <a href="#" class="list-group-item">Comedor infantil</a>
			  <a href="#" class="list-group-item">Jornadas solidarias</a>
			  <a href="#" class="list-group-item">Manos hermanas</a>
			</div>
		</div>
		<div class="col-md-5">
			<br>
			<p style="text-align:center">Da click para ver la imagen:</p>
			<div class="lightGallery">
				<span data-src="/assets/mapa_comunidades.jpg">
        			<img src="/assets/mapa_comunidades.jpg" />
      			</span>
      		</div>
		</div>
	</div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $(".lightGallery").lightGallery(); 
  });
</script>