<ul class="nav navbar-nav navbar-right">
	<li><a href="#">Nuestros proyectos</a></li>
	<li><a href="#">Servicio social</a></li>
	<li><a href="#">¿Cómo ayudar?</a></li>
	<li><a href="#">Contacto</a></li>
</ul>	